* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('code-8779051.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

h1, h2 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: white;
    color: #007BFF;
}

section {
    padding: 100px 20px;
    position: relative;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .ifram{
        width: 100%;
        height: 300px;
        
        
    }
    .iframpdf{
        width: 100%  ;  
    }

    nav {
        display: inline-block;
        width:100%;
    }

    section {
        padding: 80px 20px;
    }

    .cta-button {
        padding: 15px;
        font-size: 16px;
    }

    footer {
        padding: 15px;
    }
    img{
        width: 100%;
    }
    .photo{
        height: 300px;
    }
    #big_image{
        height: 200px;
    }
}

@media (max-width: 480px) {
    .photo{
        height: 200px;
    }
    header {
        padding: 5px;
    }
    img{
        width: 100%;
    }

    nav {
        
        flex-direction: column;
        align-items: left;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }

    .ifram{
        width: 100%;
        height: 300px;
        
    }
    .iframpdf{
        width: 100% ;  
    }
    section {
        padding: 60px 10px;
    }

    .cta-button {
        padding: 12px;
        font-size: 14px;
    }

    footer {
        padding: 10px;
    }
}
